certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
idna==3.3
joblib==1.0.1
nltk==3.6.2
Pillow==8.4.0
pyTelegramBotAPI==4.1.1
regex==2021.4.4
requests==2.26.0
tqdm==4.61.1
urllib3==1.26.7
wincertstore==0.2
